.myTable{
    display: flex;
    align-self: center;
    justify-self: center;
    min-width: 50%;
    border-spacing: 0px;
    font-size: 14px;
}

.myTable thead{
    width: auto;
}

.myTable tr{
    width: auto;
    cursor: pointer;
    transition: all .25s ease-in-out;
}

.myTable tr td{
    border: solid 1px black;
    width: auto;
}