@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Medium.woff);
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

body{
    min-height: 100vh;
    background-color: #fff;
}
.globalLoaderWrapper{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}