.table_wrapper .columItem {
    width: 50%;
}

.inputFuild {
    padding-top: 5px;
    min-width: 30vw;
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.inputFuild input,
.inputFuild label,
.inputFuild select,
.inputFuild span
{
    width: 50%;
    flex: 1 0 50%;
}
.inputFuild span{
    text-align: center;
}
.table_wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.but__wrapper{
    padding-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.content{
    margin: 5px;
    display: flex;
    width: 70%;
    align-items: center;
    flex-direction: column;
}

.dataPicker{
    width: 100% !important;

}
/* .dataPicker input {
    width: 100% !important;
} */