.statBar{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.item{
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.loaderItem{
    border: 1px solid black;
    border-radius: 10px;
    margin: 0 10px;
    height: 80px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(30, 36, 98, 0.1);
}

input[type="file"] {
    display: none;
}

.fileInput{
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.fileLoader{
    height: 100%;
    width: autho;
}